<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.godsstorycoloringapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GodsStoryColoringApp">
        <activity
            android:name=".adnyam_audio_list"
            android:exported="false" />
        <activity
            android:name=".pitjan_audio_list"
            android:exported="false" />
        <activity
            android:name=".murrin_audio_list"
            android:exported="false" />
        <activity
            android:name=".burrara_audio_list"
            android:exported="false" />
        <activity
            android:name=".AudioList"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GodsStoryColoringApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chooseLanguage" />
        <activity android:name=".homescreen" />
        <activity android:name=".acknowledgements" />
        <activity android:name=".just_audio" />
        <activity android:name=".thumbnail" />
        <activity android:name=".coloring_fucntion" />
    </application>

</manifest>